#top{
    background-color: rgb(249, 218, 223) ;
}
.feature{
    background-color: rgb(244, 177, 199);
}
.footer_links{
    color:lightpink;
}
h3{
    color:palevioletred;
}
h1{
    color:palevioletred ;
}
h6{
    color:palevioletred ;
}